{% extends "index.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/listing.css' %}" />
{% endblock %}

{% block script %}
  <script>

    async function deleteEmployee(employeeId, token, position) {
        const isConfirmed = confirm("Are you sure you want to delete this employee?");

        if (isConfirmed) {
            const response = await fetch(`/employees/employee/${employeeId}/`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Authorization': `Bearer ${token}`,
                    'position': position,
                },
            });

            if (response.ok) {
              if (position != 'admin'){
                window.location.href = '{% url "login" %}';
                }
              else {
                window.location.reload()
              }
            } else {
                const errorData = await response.json();
                console.error('Error deleting employee:', errorData);
            }
        } else {
            console.log("Delete action canceled.");
        }
    }

    document.addEventListener('DOMContentLoaded', async () => {
      const token = sessionStorage.getItem('token');
      const position = sessionStorage.getItem('position');

      try {
          const response = await fetch('/employees/employee/', {
              method: 'GET',
              headers: {
                  'Authorization': `Bearer ${token}`,
                  'position': position,
              },
          });

          if (!response.ok) {
              // add refresh token logic here
              throw new Error("Access token expired!!!"); 
          }

          const employees = await response.json();
          const tableBody = document.querySelector('#employee-table tbody')

            tableBody.innerHTML = ''

            employees.forEach(employee => {
                const row = document.createElement('tr')

                row.innerHTML = `
                    <td>${employee.full_name}</td>
                    <td>${employee.email}</td>
                    <td>${employee.position}</td>
                    <td>${employee.phone_number}</td>
                    <td>
                      <a href='{% url "profile" %}?uuid=${employee.employee_uuid}'><i class='fa fa-eye'></i></a>   
                      <a href='{% url "profile_edit" %}?uuid=${employee.employee_uuid}'><i class="fa-solid fa-pencil edit"></i></a>
                      <a href="javascript:void(0);" onclick="deleteEmployee('${employee.employee_uuid}', '${token}', '${position}')"><i class="fa-solid fa-trash delete"></i></a>
                  </td>
                `;

                tableBody.appendChild(row)
            });
      } catch (error) {
          console.error('Fetch error:', error);
      }
    });
  </script>
{% endblock %}

{% block content %}
    <div>
      <table id="employee-table">
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Position</th>
            <th>Phone Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
{% endblock %}