{% extends "index.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block script %}
<script>
    async function login(event) {
        event.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;

        const response = await fetch('/api/token/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                    'username': username,
                    'password': password
                })
        });
        console.log(response)

        if (response.ok) {
            const data = await response.json();
            // Save token to session storage
            console.log(data)
            sessionStorage.setItem('token', data.access)
            sessionStorage.setItem('position', data.position)
            sessionStorage.setItem('employee_uuid', data.employee_uuid)
            //console.log(sessionStorage.getItem('token'))
            // alert('Login successful!');
            window.location.href = '{% url "home" %}'
        } else {
            const error = await response.json();
            console.log(error.detail)
            document.getElementById("err").innerHTML = error.detail;
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="login-page">
    <div class="form">
        <form onsubmit="login(event)" class="login-form">

            <input type="text" id="username" placeholder="username" required/>
            <input type="password" id="password" placeholder="password" required/>
            <button type='submit'>login</button>
            <div id='err'></div>
            <p class="message">Not registered? <a href='{% url "registration" %}'>Create an account</a></p>
        </form>
    </div>
</div>
{% endblock %}