{% extends "index.html" %}

{% block style %}
    <style>
        #err{
            color: red;
        }
    </style>
{% endblock %}

{% block script %}
<script>
    async function password_change(event) {
        event.preventDefault();
        const oldpass = document.getElementById('oldpass').value;
        const newpass = document.getElementById('newpass').value;
        const newpass_2 = document.getElementById('newpass_2').value;

        if (newpass !== newpass_2) {
            alert("Passwords do not match!");
            return;
        }

        const token = sessionStorage.getItem('token');
        const position = sessionStorage.getItem('position');
        const uuid = sessionStorage.getItem('employee_uuid');

        const response = await fetch(`/employees/employee/${uuid}/password/`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
                'Authorization': `Bearer ${token}`,
                'position': position,
            },
            body: JSON.stringify({
                    'old_password': oldpass,
                    'new_password': newpass,
                    'new_password_2': newpass_2
                })
        });
        console.log(response)

        if (response.ok) {
            const data = await response.json();
 
            console.log(data)
            // alert('Login successful!');
            window.location.href = '{% url "home" %}'

        } else {
            const error = await response.json();
            console.log(error)
            document.getElementById("err").innerHTML = error;
        }
    }
</script>
{% endblock %}

{% block content %}
<div>
    <form onsubmit="password_change(event)">
        <label for="oldpass">Old Password:</label><br>
        <input type="password" id="oldpass" name="oldpass"><br>
        <label for="newpass">New Password:</label><br>
        <input type="password" id="newpass" name="newpass"><br>
        <label for="newpass_2">Confirm Password:</label><br>
        <input type="password" id="newpass_2" name="newpass_2"><br><br>
        <input type="submit" value="Submit">

        <p id='err'></p>
    </form>
    <div>
        <a href='{% url "home" %}'>home</a>
    </div> 
</div>
{% endblock %}