{% extends "index.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}" />
{% endblock %}

{% block script %}
<script>

    async function register(event) {
        event.preventDefault();
        const isAdmin = sessionStorage.getItem('position') == 'admin'; 

        const username = document.getElementById('username').value;
        const firstName = document.getElementById('first_name').value;
        const lastName = document.getElementById('last_name').value;
        const email = document.getElementById('email').value;
        const phoneNumber = document.getElementById('phone_number').value;
        const position = document.getElementById('position').value;
        const password = document.getElementById('password').value;
        const password2 = document.getElementById('password2').value;

        if (password !== password2) {
            document.getElementById("err").innerHTML = "Passwords do not match!";
            return;
        }

        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!emailPattern.test(email)) {
            document.getElementById("err").innerHTML =  'Please enter a valid email address.';
            return
    }
        try {
            const response = await fetch('/employees/employee/register/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    username: username,
                    first_name: firstName,
                    last_name: lastName,
                    email: email,
                    phone_number: phoneNumber,
                    position: position,
                    password: password,
                    password2: password2,
                })
            });

            if (!response.ok) {
                const errorData = await response.json();
                console.log('Error:', errorData[0]);
                document.getElementById("err").innerHTML = errorData[0]; 
            }

            const data = await response.json();
            console.log('Registration successful:', data);
            
            if (isAdmin) {
                window.location.href = '{% url "home" %}'}
             else {
            login(username,password)
            }
        } catch (error) {
            const errorData = await response.json();
            console.log('Error:', errorData[0]);
            document.getElementById("err").innerHTML = errorData[0];
}
    };
    
    async function login(username, password){
        const token_response = await fetch('/api/token/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                        'username': username,
                        'password': password
                    })
            });
            if (token_response.ok) {
                const data = await token_response.json();
                sessionStorage.setItem('token', data.access)
                sessionStorage.setItem('position', data.position)
                sessionStorage.setItem('employee_uuid', data.employee_uuid)

                window.location.href = '{% url "home" %}'}
                 else {
                    const error = await response.json();
                    console.log(error.detail)
                    document.getElementById("err").innerHTML = error.detail;
        }

    }
</script>
{% endblock %}

{% block content %}
<div class="login-page">
    <div class="form">
        <form onsubmit="register(event)" class="login-form">
            <label for="username">Username*:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="first_name">First Name*:</label>
            <input type="text" id="first_name" name="first_name" required><br><br>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" ><br><br>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" ><br><br>
            <label for="phone_number">Phone Number:</label>
            <input type="text" id="phone_number" name="phone_number" ><br><br>
            <label for="position">Position*:</label>
            <input type="text" id="position" name="position" required><br><br>
            <label for="password">Password*:</label>
            <input type="password" id="password" name="password" required><br><br>
            <label for="password2">Confirm password*:</label>
            <input type="password" id="password2" name="password2" required><br><br><br>
            <button type="submit">Register</button>

            <div id='err'></div>
        </form> 
    </div>
</div>
{% endblock %}